div#detailsContainer {
  background-color: #0f161e;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* color: blue; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

div#detailsHeader {
  /* background-color: blueviolet; */
  margin: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  height: 40px;
}

div#detailsBody {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* background-color: cadetblue; */
  height: 85%;
}

div#detailsHeader h1 {
  margin: 0;
  padding: 0;
  font-family: "Special Elite";
  border: none;
  /* background-color: rgb(91, 175, 58); */
  width: 90%;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.closeDetails {
  /* background-color: red; */
  font-size: clamp(1.8rem, 2.5vw, 3rem);
  cursor:pointer;
}

div#detailsImages {
  background-color: #29314235;
  min-height: 70%;
  /* max-height: 200px; */
  /* min-width: 60%; */
  width: 100%;
  position: relative;
  border-radius: 15px;
  margin: 1.5em;
}

div#pointsDetailsContainer {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #293142;
  /* background-color: aqua; */
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.atualDetailsImg {
  color: #01fc93;
}

.arrowDetailsContainerLeft {
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  /* background-color: rgb(43, 255, 0); */
  height: 95%;
  width: 40px;
  position: absolute;
  top: 0;
  left: 5px;
  padding-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowDetailsContainerRight {
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  /* background-color: blue; */
  height: 95%;
  width: 40px;
  position: absolute;
  top: 0;
  right: 5px;
  padding-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowDetailsProjLeft {
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.835);
  height: 40px;
  width: 40px;
  border-radius: 50%;

  padding-right: 4px;

  /* padding-top: 8px; */
}

.arrowDetailsProjRight {
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.835);
  height: 40px;
  width: 40px;
  border-radius: 50%;

  padding-left: 4px;
}

div#teste{
  background-color: coral;
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  min-width: 60%;

}

div#imgDetailsBackground {
  /* background-color: blueviolet; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;


}

div#imgDetailsBackground img {
  /* max-width: 40em;
  max-height: 30em; */
  width: 100%;
  height: 410px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
}

div#detailsDescriptions {
  background-color: #293142;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div#completeDescription {
  background-color: #01fc93;
  padding: 5px;
  height: 50%;
}

div#footerDetailsDescriptions {
  background-color: blueviolet;
  height: 50%;
}
