div#imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  /* background-color: #0F161E; */
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.arrowContainerLeft{
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  /* background-color: rgb(43, 255, 0); */
  height: 91%;
  width: 40px;
  position: absolute;
  top:0;
  left: 5px;
  padding-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowContainerRight{
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  /* background-color: blue; */
  height: 91%;
  width: 40px;
  position: absolute;
  top:0;
  right: 5px;
  padding-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowProjLeft {
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.835);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
  padding-right: 4px;
  
  /* padding-top: 8px; */
}

.arrowProjRight {
  color: #01fc93;
  font-size: 28px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.835);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
  padding-left: 4px;

}

div#imgBackground{
  /* background-color: blueviolet; */
  width: 100%;
}

div#imgBackground img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 210px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
  cursor: zoom-in;
}

span#ampliar{
  color: #01fc93;
  background-color: #293142c7;
  position: absolute;
  bottom: 1px;
  left: 10px;
  cursor: zoom-in;
  font-size: 12px;
  border-radius: 3px;
  width: 70px;
  text-align: center;
}
