nav#menuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #192430;

  margin-left:50px;
  width: 65%;

  @media (max-width:1200px) {
    width: 50%;
    margin-left: 2em;

  }
}

div#fechar {
  background-color: transparent;
  color: transparent;
  margin: 0;
  font-size: 0;
  padding: 0;
}

nav#menuContainer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* color: #0f161e; */
  color: #a2bfd7;

  /* background-color: aqua; */
  margin-left: 20px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}


@media (max-width: 750px) {
  nav#menuContainer {
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* margin-top: 10px; */
    margin-left: 5px;
    /* background-color: blueviolet; */
  }

  nav#menuContainer a {
    margin-right: 2px;
    margin-left: 0.4em;
    /* background-color: aqua; */
  }

  div#fechar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a2bfd7;
    font-size: 2em;
    margin-left: 5px;
    margin-right: 0.5em;
    /* background-color: blue; */
  }
}
