div#Sobre {
  font-family: "Special Elite";
  margin-top: 10px;
  padding: 40px 35px 40px 35px;
  line-height: 2em;
  position: relative;
  background-color: #0f161e;

}

div#Sobre h1 {
  color: #a2bfd7;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #a2bfd7;
  width: 100%;
  /* background-color: aquamarine; */
}

div#Sobre p {
  font-family: monospace;
  font-size: 18px;
  text-align: justify;
}

img#eu {
  width: 300px;
  filter: blur(1px) drop-shadow(-80px 60px 26px #000000) brightness(110%);
  /* opacity: 0.9; */
  border-radius: 30%;
  position: absolute;
  /* top: 40%; */
  bottom: 350px;
  left: 20px;
  z-index: 1;
  transition: 3s;
}

img#noEu {
  width: 0px;
  filter: blur(1px) drop-shadow(-80px 60px 96px #000000) brightness(80%);
  /* opacity: 0.9; */
  border-radius: 30%;
  position: absolute;
  /* top: 40%; */
  bottom: 350px;
  left: 450px;
  /* left: 20px; */

  z-index: 1;
  transition: 1.5s;
}

div#retangulo1 {
  position: absolute;
  /* top: 40%; */
  bottom: 300px;
  left: 232px;
  width: 130px;
  height: 400px;
  background-color: #000000;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  z-index: 2;
  opacity: 0.95;
  filter: blur(28px) drop-shadow(-65px 10px 26px #000000);
  transition: 3.5s;
}

div#noRetangulo1 {
  position: absolute;
  bottom: 300px;
  left: 332px;
  width: 0px;
  height: 10px;
  background-color: #000000;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  z-index: 2;
  opacity: 0.95;
  filter: blur(28px) drop-shadow(-65px 10px 26px #000000);
  transition: 1s;
}

/* retângulo da base */

div#retangulo2 {
  position: absolute;
  bottom: 310px;
  left: -80px;
  /* width: 315px; */
  width: 485px;
  border-radius: 20px;
  border-radius: 50%;
  height: 60px;
  background-color: #000000;
  z-index: 1;
  filter: drop-shadow(80px 10px 25px #000000);
  /* box-shadow: #35e149 -25px 5px 18px, #35e149 0px -10px 15px inset, #000000 -25px -15px 52px; */
  box-shadow: #0F161E -25px 35px 18px, #0F161E 0px -10px 15px inset, #0F161E -25px -15px 52px;
  transition: 1s;
  transform: scale(1);
}

div#noRetangulo2 {
  position: absolute;
  bottom: 310px;
  left: -80px;
  /* width: 315px; */
  width: 485px;
  border-radius: 20px;
  border-radius: 50%;
  height: 60px;
  background-color: #000000;
  z-index: 1;
  filter: drop-shadow(80px 10px 25px #000000);
  box-shadow: #000000 -25px 25px 38px, #000000 -25px -15px 52px;
  transform: scale(0);
}

div#about1 {
  /* background-color: #004cff; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 850px;
  margin: 10px auto -20px auto;
}

div#text {
  /* color: #0f161e; */
  color: #a2bfd7;
  z-index: 3;
  background-color: #171b26;
  border-radius: 10px;

  max-width: 850px;
  margin: 40px auto;
  padding: 60px 80px;
  transition: 1s;
}

div#noText {
  max-width: 700px;
  /* color: #0f161e; */
  color: #a2bfd7;
  z-index: 3;
  background-color: #171b26;
  border-radius: 10px;

  max-width: 850px;
  margin: 40px auto;
  padding: 60px 80px;
  transition: 1s;
  transform: translate(-1200px);
}

div#fotosSobre1 {
  width: 400px;
  /* background-color: blue; */
}

div#about2 {
  max-width: 1300px;
}

@media (max-width: 1000px) {
  /* div#Sobre h1 {
    width: 82.5%;
  } */

  div#noText {
    /* color: #0f161e; */
    color: #a2bfd7;
    z-index: 0;
    background-color: #171b26;
    border-radius: 10px;
    max-width: 850px;
    margin: 40px auto;
    padding: 10px 25px;
    transition: 0s;
    transform: translate(0);
  }
}
