div#moreAboutMeContainer {
  background-color: #0f161e;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  color: #a2bfd7;
  font-family: "montserrat";
}

div#moreAboutMeHeader {
  /* background-color: blueviolet; */
  margin: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  height: 40px;
  width: 96%;
}

div#moreAboutMeHeader h1 {
  font-family: "special elite";
}

.closeMoreAboutMeContainer {
  /* background-color: brown; */
  font-size: clamp(1.8rem, 2.5vw, 3rem);
  cursor: pointer;
}

div#moreAboutMeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171b26;
  min-height: 80vh;
  max-width: 96%;
  /* padding: 10px 15px; */
  text-align: justify;
  line-height: 1.8em;
  overflow: auto;
  border-radius: 8px;
}

div#moreAboutMeBody p {
  /* background-color: blueviolet; */
  width: 96%;
}

@media (max-width: 750px) {
  div#moreAboutMeHeader {
    width: 92%;
  }

  div#moreAboutMeHeader h1 {
    font-size: 1.5em;
  }

  div#moreAboutMeBody{
    width: 92%;
  }
  div#moreAboutMeBody p {
    /* background-color: blueviolet; */
    font-size: clamp(0.8rem, 2.2vw, 2.9rem);
  }
}
