div#greetingContainer {
  /* background-color: #af915d; */
  background-color: #19243081;
  /* background-color: #a2bfd7; */
  /* background-color: #98a5b4; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  padding: 5px 20px;
  padding-top: 0;
  height: 160px;
  border-radius: 8px;
  margin-left: 6%;
  /* box-shadow: #0f161e 0px 8px 10px 20px inset; */

  @media (max-width: 1000px) {
  background-color: #192430d0;

    padding: 0;
    padding-bottom: 10px;
    /* margin: 0 auto; */
    width: 85%;
    margin-bottom: 0;
    font-size: 1.2em;
    height: 130px;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

div#main {
  /* background-color: #5b8d3c; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 90%;
  height: 90%;
}

div#main h2,
div#main h5 {
  margin: 0;
  margin-top: 15px;
  font-family: "Special Elite";
  color: #a2bfd7;
}

span#soon {
  animation: animate 4s linear infinite;
  color: brown;
}

span#myName {
  color: #7c1e06;
  font-size: 1.2em;
}

div#main h2 {
  color: #395983;
}

h2#typing {
  width: 95%;
  animation: typing 3s steps(18) infinite,
    blinking 0.5s step-end infinite alternate;

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1.7em;

  @media (max-width: 1000px) {
    width: 10.3em;
    font-size: 1.1em;

    /* background-color: #835d39; */
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}
