div#App {
  div#buttonsHome {
    /* background-color: blueviolet; */
    width: 50%;
    height: 2em;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 99;
    top: 67vh;

    left: 6%;
  }

  div#buttonsHome button {
    margin-right: 20px;
    height: 35px;
    padding: 0 18px;
    font-size: 1em;
    font-weight: 700;
    font-family: "montserrat";
    cursor: pointer;
    z-index: 1;
  }

  button#projetos {
    background-color: #5771b3;
    color: #0f161e;
    z-index: 99;
    border-radius: 8px;

    &:hover {
      background-color: #3b5eb7;
      color: #94a0af;
    }
  }

  button#about {
    background-color: transparent;
    border: none;
    color: #94a0af;
    border-bottom: 1px solid #94a0af;

    &:hover {
      color: #3b5eb7;
      border-bottom: 1px solid #3b5eb7;
    }
  }

  @media (max-width: 1000px) {
    div#buttonsHome {
      /* background-color: blueviolet; */
      display: flex;
      flex-wrap: wrap;
      width: 93%;
      height: 2em;
      top: 60vh;
      left: 6%;
      margin-bottom: 25px;
    }

    div#buttonsHome button {
      /* margin-right: 20px; */
      padding: 0 7px;
      font-size: 0.8em;
    }

    button#projetos {
      &:hover {
        background-color: #5771b3;
        color: #0f161e;
      }
    }
    button#about {
      &:hover {
        color: #94a0af;
        border-bottom: 1px solid #94a0af;
      }
    }
  }
}
